{
    admin localhost:2019
    
    frankenphp {
        worker "{$APP_PUBLIC_PATH}/frankenphp-worker.php" {$CADDY_SERVER_WORKER_COUNT}
    }
}

{$CADDY_SERVER_SERVER_NAME:localhost} {
    log {
        level {$CADDY_SERVER_LOG_LEVEL:info}
        format filter {
            wrap console
            fields {
                uri query {
                    replace authorization REDACTED
                }
            }
        }
    }

    route {
        root * "{$APP_PUBLIC_PATH:public}"
        
        # ===== KONFIGURASI UPLOAD SIZE =====
        # Ini yang paling penting!
        request_body {
            max_size 30MB
        }
        # ===================================
        
        encode zstd br gzip

        php_server {
            index frankenphp-worker.php
            try_files {path} frankenphp-worker.php
            resolve_root_symlink
        }
    }
}